@charset "UTF-8";
/* Сброс общих стилей */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/*Глобальные стили элементы*/
@font-face {
  font-family: 'Roboto', Arial, sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic");
  font-display: optional;
}

body {
  min-width: 900px;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  background-color: #849d8f;
}

.page-inner {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent 650px);
}

.layout {
  width: 100%;
  padding: 0 27px;
  margin-bottom: 40px;
}

.layout:last-of-type {
  margin-bottom: 0;
}

[class*="popup-"] {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.page-btn {
  display: inline-block;
  min-height: 44px;
  padding: 10px 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(180deg, #f26843, #ca3824);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.page-btn:hover {
  background: linear-gradient(180deg, #f58669, #ec6f5e);
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.page-btn:active {
  color: #fceeec;
  background-image: linear-gradient(180deg, #f26843, #e74a35);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.page-btn_size-l {
  min-height: 64px;
  min-width: 280px;
  padding: 15px 40px;
  font-size: 32px;
  line-height: 32px;
  border-radius: 40px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.link {
  position: relative;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1px;
}

.link:hover::after, .link:active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1px;
}

.link_dark {
  color: #323232;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.link_dark:hover, .link_dark:focus, .link_dark:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.link_light {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link_light:hover, .link_light:active, .link_light:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.form-field {
  width: 100%;
  padding-top: 13px;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
}

.form-field::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-field::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-field:-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-field:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-field:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.form-field:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.form-field:focus::-webkit-input-placeholder {
  color: transparent;
}

/* новые стили для header*/
.page-header {
  padding: 10px 27px 0px 27px;
}

.header {
  position: relative;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: flex-start;
}

.nav__logo {
  max-height: 64px;
}

.button {
  display: block;
  min-height: 32px;
  min-width: 32px;
  color: #ffffff;
  border-radius: 32px;
}

.button_view_link {
  font-weight: 700;
  padding: 6px 14px 7px 14px;
  font-size: 16px;
  line-height: 18px;
}

.button_view_link:hover, .button_view_link:focus {
  color: #323232;
  background-color: #f6f4f8;
}

.button_view_link:active {
  background-color: #ededed;
  background-origin: border-box;
  box-shadow: inset 0 2px 2px #696969;
}

.button_view_link::after {
  content: '';
  display: block;
  position: absolute;
  left: 14px;
  right: 14px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
/* Как по другому можно задать несколько модификаторов? */
.button_view_link_current {
  background-color: #cf6f57;
}

.button_view_link_current::after {
  content: '';
  display: none;
}

.button_view_glass {
  padding: 7px 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 0;
}

.button_view_glass:hover, .button_view_glass:focus {
  color: #323232;
  background-color: #f6f4f8;
}

.nav__logo + .nav__list {
  margin-left: 10px;
}

.nav__link:hover + .nav__sub-nav,
.nav__link:focus + .nav__sub-nav,
.nav__link:active + .nav__sub-nav {
  display: block;
}

.nav__sub-nav {
  display: none;
  position: absolute;
  left: -6px;
  top: 38px;
  z-index: 1;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  list-style: none;
}

.nav__item {
  position: relative;
}

.user-nav .nav__item + .nav__item {
  margin-left: 10px;
}

.nav__link {
  white-space: nowrap;
}

.nav__link_search {
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.nav__link_search:hover, .nav__link_search:focus, .nav__link_search:active {
  background-image: url("../img/loupe_dark.svg");
}

.nav__link_search:hover + .popup-search,
.nav__link_search:focus + .popup-search,
.nav__link_search:active + .popup-search {
  display: block;
}

.nav__link_auth {
  padding-left: 45px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.nav__link_auth:hover, .nav__link_auth:focus {
  background-image: url("../img/entrance_dark.svg");
}

.nav__link_auth:hover + .popup-auth,
.nav__link_auth:focus + .popup-auth,
.nav__link_auth:active + .popup-auth {
  display: block;
}

.nav__link_cart {
  min-width: 117px;
  padding-left: 45px;
  color: #323232;
  background-color: #f8f7f4;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.nav__link_cart:hover, .nav__link_cart:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav__link_cart:hover + .popup-cart,
.nav__link_cart:focus + .popup-cart,
.nav__link_cart:active + .popup-cart {
  display: block;
}

.nav__link_cart-empty {
  min-width: 117px;
  padding-left: 45px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.nav__link_cart-empty:hover, .nav__link_cart-empty:focus {
  background-image: url("../img/basket_dark.svg");
}

.sub-nav {
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  list-style: none;
}

.sub-nav__item {
  margin: 1px 0;
}

.sub-nav__link {
  display: inherit;
  padding: 7px 21px;
}

.sub-nav__link:hover, .sub-nav__link:focus {
  background-color: #fbded7;
}

.sub-nav__link:active {
  background-color: #f6b5a5;
}

.sub-nav__link_current {
  color: #ffffff;
  background-color: #d07058;
}

.sub-nav__link_current:hover {
  background-color: #d07058;
}

.sub-nav__item_special {
  position: relative;
  font-weight: 700;
}

.sub-nav__item_special::after {
  content: '';
  display: block;
  position: absolute;
  left: 9px;
  right: 9px;
  height: 1px;
  background: rgba(53, 53, 53, 0.2);
}

.main-nav__link:hover .site-nav__sub-nav,
.main-nav__link:focus + .site-nav__sub-nav,
.main-nav__link:active + .site-nav__sub-nav {
  display: block;
}

.header__footer {
  display: flex;
  align-items: flex-end;
}

.contacts {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
}

.contacts__phone {
  display: block;
  margin-top: 3px;
  font-size: 22px;
  white-space: nowrap;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
}

.breadcrumbs__item {
  position: relative;
  display: block;
}

.breadcrumbs__item + .breadcrumbs__item {
  padding-left: 21px;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  position: absolute;
  left: 8px;
  content: "»";
}

.header__contacts {
  margin-left: auto;
}

/* Старые стили для header

.page-header {
  padding: 10px 27px 0px 27px;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.site-nav {
  display: flex;
}

.site-nav__logo {
  margin-right: 10px;
}

.site-nav__main-nav {
  padding: 0;
}

.main-nav {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: flex;
  list-style: none;
  white-space: nowrap;
  color: $clr-head;
}

.main-nav__item {
  position: relative;
  
}

.main-nav__link {
  font-weight: $bold;
  padding: 6px 14px 7px 14px;
  // box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  &:hover,
  &:focus {
    color: $clr-main;
    background-color: #f6f4f8;
    border-radius: 32px;
  }
  &:active {
    background-color: #ededed;
    background-origin: border-box;
    box-shadow: inset 0 2px 2px #696969;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 14px;
    right: 14px;
    // bottom: 6px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
  }
  &_current {
    background-color: #cf6f57;
    border-radius: 32px;
    &::after {
      content: '';
      display: none;
    }
  }
}

.site-nav__sub-nav {
  position: absolute;
  left: -6px;
  top: 31px;
  z-index: 1;
  display: none;
}

// не изменилось
// Внутр. меню
.sub-nav {
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  color: $clr-main;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  list-style: none;
}

.sub-nav__item {
  margin: 1px 0;
}

.sub-nav__link {
  display: inherit;
  padding: 7px 21px;
  &:hover,
  &:focus {
    background-color: #fbded7;
  }
  &:active {
    background-color: #f6b5a5;
  }
  &_current {
    color: $clr-head;
    background-color: #d07058;
    &:hover {
      background-color: #d07058;
    }
  }
}

.sub-nav__item_special {
  position: relative;
  font-weight: $bold;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 9px;
    right: 9px;
    height: 1px;
    background: rgba(53, 53, 53, 0.2);
  }
}

// Показать sub-nav
.main-nav__link:hover .site-nav__sub-nav,
.main-nav__link:focus + .site-nav__sub-nav,
.main-nav__link:active + .site-nav__sub-nav {
  display: block;
}

// .main-nav__item_dropdown {
//   &:hover > .site-nav__sub-nav,
//   &:focus > .site-nav__sub-nav,
//   &:active > .site-nav__sub-nav {
//     display: block;
//   }
// }


// Навигация пользователя
// теперь .nav__list
.user-nav {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  list-style: none;
}

.user-nav__item {
  position: relative;
  display: block;
  margin-right: 10px;
}
// теперь .button_view_glass
.user-nav__btn {
  display: block;
  min-height: 32px;
  min-width: 32px;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: $medium;
  color: $clr-head;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  &:hover,
  &:focus {
    color: $clr-main;
    background-color: #f6f4f8;
  }
}

.user-nav__item:last-of-type {
  margin-right: 0;
}

.user-nav__btn_search {
  background-image: url('../img/loupe.svg');
  background-repeat: no-repeat;
  background-position: center center;
  &:hover,
  &:focus,
  &:active {
    background-image: url('../img/loupe_dark.svg');
  }
  &:hover~.popup-search,
  &:focus~.popup-search,
  &:active~.popup-search,
    {
    display: block;
  }
}

.user-nav__btn_auth {
  padding-left: 45px;
  background-image: url('../img/entrance.svg');
  background-repeat: no-repeat;
  background-position: 17px center;
  &:hover,
  &:focus {
    background-image: url('../img/entrance_dark.svg');
  }
  &:hover+.popup-auth,
  &:focus+.popup-auth,
  &:active+.popup-auth,
    {
    display: block;
  }
}

.user-nav__btn_cart {
  min-width: 117px;
  padding-left: 45px;
  color: $clr-main;
  background-color: #f8f7f4;
  background-image: url('../img/basket-red.svg');
  background-repeat: no-repeat;
  background-position: 17px center;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &:hover+.popup-cart,
  &:focus+.popup-cart,
  &:active+.popup-cart,
    {
    display: block;
  }
  &-empty {
    min-width: 117px;
    padding-left: 45px;
    background-image: url('../img/basket.svg');
    background-repeat: no-repeat;
    background-position: 17px center;
    &:hover,
    &:focus {
      background-image: url('../img/basket_dark.svg');
    }
  }
}
*/
.popup {
  position: absolute;
  z-index: 10;
  top: 38px;
  right: 0;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.popup-search {
  min-width: 341px;
}

.popup-auth {
  min-width: 277px;
  padding-left: 19px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-auth__field {
  margin-bottom: 20px;
}

.form-auth__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-auth__submit-btn {
  min-width: 100px;
}

.form-auth__list-links {
  margin-left: 20px;
}

.form-auth__link {
  position: relative;
  font-size: 13px;
  margin-bottom: 5px;
}

.form-auth__link:last-of-type {
  margin-bottom: 0px;
}

.cart-order {
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #323232;
}

.btn-remove {
  width: 11px;
  height: 17px;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
}

.card-product__photo {
  border-radius: 17px;
}

.slider {
  min-height: 490px;
  color: #ffffff;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;
}

.slider__item:first-of-type {
  display: block;
}

.slider__item:first-of-type__btn {
  margin: 0 auto;
}

.promo-slid {
  margin: 0;
  padding: 0;
  text-align: center;
}

.promo-slid__title {
  max-width: 60%;
  font-size: 60px;
  line-height: 63px;
  font-weight: 700;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.promo-slid__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.slider__indicators-list {
  display: flex;
}

.slider__indicators-item {
  cursor: pointer;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider__indicators-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__indicators-item + .slider__indicators-item {
  margin-left: 8px;
}

.slider__indicators-item input[type="radio"]:checked + .slider__indicators-item {
  background-color: white;
}

.hit-products__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.products_hit:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  z-index: 5;
  background-image: url("../img/hit.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-products__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.products {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  max-width: 267px;
  width: 25%;
  margin-right: 2.25%;
  background-color: rgba(148, 38, 24, 0.459);
}

.products:nth-of-type(4n) {
  margin-right: 0;
}

.products:hover, .products:focus {
  z-index: 5;
  border-radius: 15px;
}

.products:hover::after, .products:focus::after {
  content: "";
  width: 110%;
  height: 125%;
  position: absolute;
  top: -7px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.products:hover > .products__btn,
.products:focus > .products__btn {
  position: absolute;
  bottom: -18%;
  display: block;
}

.products__btn {
  z-index: 6;
  display: none;
}

.products__name {
  margin: 0;
  padding: 0;
  z-index: 5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.products__name:hover {
  color: #ffbc9e;
}

.products__name:hover > .products__name_underline {
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* Элемент .products__name многострочный, ::after не работает */
.products__name_underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.products__cover {
  position: relative;
  z-index: 4;
}

.products__price {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 20px;
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(49, 50, 53, 0.5);
}

.products__price_weight {
  font-size: 30px;
}

.products__price_weight::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 33px;
  background-image: url("../img/ruble.svg");
  filter: drop-shadow(1px 1px 2px rgba(49, 50, 53, 0.5));
}

.products__photo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  min-width: 200px;
  margin-bottom: 10px;
}

.card {
  width: 50%;
  min-height: 230px;
  border-radius: 15px;
}

.card + .card {
  margin-left: 2.35%;
}

.promo {
  display: flex;
  justify-content: space-between;
}

.promo__item {
  padding: 15px 30px 90px 19px;
  color: #ffffff;
  position: relative;
  background-size: cover;
}

.promo__item_1 {
  background-color: #5e1926;
  background-image: url("../img/promo-raspberry.jpg");
}

.promo__item_2 {
  background-color: #41271b;
  background-image: url("../img/promo-chocolate.jpg");
}

.promo__title {
  margin: 0 0 16px 0;
  font-size: 35px;
}

.promo__text {
  font-size: 18px;
  line-height: 22px;
}

.promo__btn {
  position: absolute;
  bottom: 24px;
  right: 23px;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.blog-post {
  max-width: 50%;
  min-height: 220px;
  padding: 20px 26px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/bg-strawberry.jpg");
  background-repeat: no-repeat;
  background-position: 115% 25%;
}

.blog-post__text {
  display: block;
  margin-bottom: 13px;
  font-weight: 500;
}

.blog-post__title {
  margin: 0;
  padding: 0;
  max-width: 286px;
}

.blog-post__link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  white-space: pre-wrap;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #323232;
}

.blog-post__link:hover, .blog-post__link:focus {
  color: #e84d37;
  border-bottom: 2px solid #e84d37;
}

.subscribe {
  max-width: 50%;
  min-height: 220px;
  padding: 6px;
  font-size: 16px;
  line-height: 22px;
  min-height: 220px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 32px 21px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

.subscribe__form {
  display: flex;
}

.subscribe__btn {
  flex-shrink: 0;
  margin-left: 11px;
}

.subscribe_field {
  min-width: 30px;
}

.location {
  position: relative;
  width: 100%;
  height: 430px;
  margin: 0;
  padding: 0;
}

.location__map {
  width: 100%;
  height: 100%;
  background-image: url("../img/map.png");
  background-position: center;
}

.location__info {
  position: absolute;
  top: 0;
  right: 27px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 302px;
  max-width: 50%;
  height: 305px;
  overflow: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 31px 25px;
  background-color: #ffffff;
  border-radius: 15px;
}

.location__text {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.location__adress,
.location__phone {
  font-size: 18px;
  line-height: 24px;
}

.location__btn {
  align-self: center;
  min-width: 252px;
}

.features__content {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 20px 20px;
  background-color: #ede1c5;
  background-image: url("../img/background-waffle.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.features__title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  max-width: 49%;
  padding: 15px 10px 6px 55px;
  font-size: 16px;
  line-height: 22px;
  background-repeat: no-repeat;
}

.features__item:nth-of-type(2n) {
  margin-right: 0;
}

.features__item_ice-cream {
  background-image: url("../img/ice-cream.svg");
}

.features__item_ingredients {
  background-image: url("../img/eco.svg");
}

.features__item_farmers {
  background-image: url("../img/cow.svg");
}

.features__item_delivery {
  background-image: url("../img/thermometer.svg");
}

.modal-feedback {
  position: relative;
  padding: 19px 25px;
  padding-bottom: 72px;
  background-color: #f8f7f4;
  border-radius: 15px;
  max-width: 478px;
}

.modal-feedback__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.form-feedback__contact {
  width: 60%;
}

.form-feedback__field {
  max-width: 100%;
  margin-bottom: 18px;
  font-size: 16px;
}

.form-feedback__btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 17px;
  border: 0;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.catalog-products {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.catalog-products__title {
  font-size: 35px;
  line-height: 41px;
}

.filters {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters__group {
  position: relative;
  margin-top: 25px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 36px;
  border: none;
  border-radius: 20px;
  vertical-align: middle;
}

.filters__legend {
  position: absolute;
  top: -23px;
  font-size: 14px;
  line-height: 16px;
}

.filters__btn {
  display: inline-block;
  min-height: 36px;
  padding: 5px 15px;
  font-weight: 700;
  white-space: nowrap;
  color: inherit;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 25px;
}

.filters__radio {
  cursor: pointer;
}

.filters__radio::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

input[type="radio"]:checked + .filters__radio::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: 24px 20px;
}

.filters__checkbox::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + .filters__checkbox::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 24px 20px;
}

.pagination {
  display: block;
  text-align: right;
}

.pagination__item {
  display: inline-block;
}

.list-page {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-page__item {
  display: inline-block;
}

.pagination__page {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: auto;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  line-height: 27px;
  border-radius: 50%;
}

.pagination__page:hover, .pagination__page:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__page_current {
  color: #323232;
  background-color: #ffffff;
}

.pagination__page_disable {
  opacity: 0.2;
}

.pagination__page_disable:hover, .pagination__page_disable:focus {
  background-color: transparent;
}

.pagination__page_next {
  background-image: url("../img/icon-right-small.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.pagination__page_prev {
  background-image: url("../img/icon-right-small.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.page-footer {
  padding: 18px 27px 25px 27px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social-btn {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-btn__item {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 11px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
}

.social-btn__item_tw {
  background-image: url("../img/twitter.svg");
}

.social-btn__item_int {
  background-image: url("../img/instagram.svg");
}

.social-btn__item_fb {
  background-image: url("../img/fb.svg");
}

.social-btn__item_vk {
  background-image: url("../img/vk.svg");
}

.social-btn__item:hover, .social-btn__item:focus {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-btn__item:active {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.7);
}

.info-links {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 10px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
}

.info-links__item {
  margin-bottom: 5px;
}

.info-links__item_special {
  position: relative;
  font-weight: 700;
}

.info-links__item_special::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  display: block;
  width: 15px;
  height: 13px;
  margin: auto 0;
  background-image: url("../img/heart.svg");
  background-size: 15px 13px;
}

.copyright {
  color: #ffffff;
  min-width: 190px;
  font-size: 12px;
}

.copyright__text {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */