@charset "UTF-8";
/* Сброс общих стилей */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  margin: 0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: 0;
}

/*Глобальные стили элементы*/
@font-face {
  font-family: 'Roboto', Arial, sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic");
  font-display: optional;
}

body {
  min-width: 900px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 16px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-field {
  width: 100%;
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-right: 15px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d2;
  border-radius: 5px;
}

.page-btn {
  display: inline-block;
  box-sizing: border-box;
  min-height: 46px;
  padding: 10px 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  border-radius: 25px;
  background: linear-gradient(180deg, #f26843, #ca3824);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.page-btn:hover {
  background: linear-gradient(180deg, #f58669, #ec6f5e);
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.page-btn:active {
  color: #fceeec;
  background-image: linear-gradient(180deg, #f26843, #e74a35);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

body {
  background-color: #849d8f;
  font-family: 'Roboto', Arial, sans-serif;
}

[class*="popup-"] {
  display: none;
}

.page-header {
  padding: 10px 27px;
}

.page-header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.site-nav {
  display: flex;
}

.site-nav__main-nav {
  margin-left: 10px;
  margin-top: 20px;
}

.main-nav {
  display: flex;
  list-style: none;
  white-space: nowrap;
}

.main-nav__item {
  position: relative;
}

.main-nav__link {
  position: relative;
  padding: 6px 14px 7px 14px;
  font-weight: 700;
  color: #ffffff;
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #323232;
  background-color: #f6f4f8;
  border-radius: 32px;
}

.main-nav__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 2px #696969;
}

.main-nav__link::after {
  content: '';
  display: block;
  position: absolute;
  left: 14px;
  right: 14px;
  bottom: 6px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.site-nav__sub-nav {
  position: absolute;
  left: -6px;
  top: 31px;
  z-index: 1;
  display: none;
}

.sub-nav {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.sub-nav__item {
  margin: 1px 0;
  list-style: none;
}

.sub-nav__link {
  display: inherit;
  padding: 7px 21px;
  color: #323232;
}

.sub-nav__link:hover {
  background-color: #fbded7;
}

.sub-nav__link:active {
  background-color: #f6b5a5;
}

.sub-nav__item_special {
  position: relative;
  font-weight: 700;
}

.sub-nav__item_special::after {
  content: '';
  display: block;
  position: absolute;
  left: 9px;
  right: 9px;
  height: 1px;
  background: rgba(53, 53, 53, 0.2);
}

.main-nav__item_dropdown:hover > .site-nav__sub-nav,
.main-nav__item_dropdown:focus > .site-nav__sub-nav,
.main-nav__item_dropdown:active > .site-nav__sub-nav {
  display: block;
}

.user-nav {
  display: flex;
  list-style: none;
}

.user-nav__item {
  position: relative;
  margin-right: 10px;
  margin-top: 20px;
}

.user-nav__btn {
  padding: 7px 17px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}

.user-nav__btn:hover, .user-nav__btn:focus {
  color: #323232;
  background-color: #f6f4f8;
}

.user-nav__item:last-of-type {
  margin-right: 0;
}

.user-nav__btn_search {
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.user-nav__btn_search:hover, .user-nav__btn_search:focus, .user-nav__btn_search:active {
  background-image: url("../img/loupe_dark.svg");
}

.user-nav__btn_search:hover ~ .popup-search,
.user-nav__btn_search:focus ~ .popup-search,
.user-nav__btn_search:active ~ .popup-search {
  display: block;
}

.user-nav__btn_auth {
  padding-left: 45px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.user-nav__btn_auth:hover, .user-nav__btn_auth:focus {
  background-image: url("../img/entrance_dark.svg");
}

.user-nav__btn_auth:hover + .popup-auth,
.user-nav__btn_auth:focus + .popup-auth,
.user-nav__btn_auth:active + .popup-auth {
  display: block;
}

.user-nav__btn_cart {
  min-width: 117px;
  padding-left: 45px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.user-nav__btn_cart:hover, .user-nav__btn_cart:focus {
  background-image: url("../img/basket_dark.svg");
}

.popup {
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-nav__popup {
  box-sizing: border-box;
  position: absolute;
  top: 31px;
  right: 0;
}

.popup-search {
  min-width: 341px;
}

.popup-auth {
  min-width: 277px;
  padding-left: 19px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-auth__field {
  margin-bottom: 20px;
}

.form-auth__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-auth__submit-btn {
  min-width: 100px;
}

.form-auth__list-links {
  margin-left: 20px;
}

.form-auth__link {
  position: relative;
  font-size: 13px;
  margin-bottom: 5px;
}

.form-auth__link:last-of-type {
  margin-bottom: 0px;
}

.page-header__contacts {
  display: block;
  margin-top: -8px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  line-height: 24px;
}

.page-header__contacts_phone {
  font-size: 22px;
  white-space: nowrap;
}

.slider {
  display: block;
  max-height: 607px;
  background-color: #f6b5a5;
}

.hit-products {
  padding: 0 14px;
}

.hit-products__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 0;
}

.hit__btn {
  display: none;
}

.hit-products__item {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  max-width: 267px;
  flex-basis: 25%;
  padding: 5px 13px 18px 13px;
  border-radius: 15px;
}

.hit-products__item:last-of-type {
  margin-right: 0;
}

.hit-products__item:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 13px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.hit-products__item:hover, .hit-products__item:focus {
  border-radius: 15px;
}

.hit-products__item:hover::after, .hit-products__item:focus::after {
  content: "";
  width: 100%;
  height: 117%;
  position: absolute;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hit-products__item:hover > .hit__btn,
.hit-products__item:focus > .hit__btn {
  position: absolute;
  z-index: 2;
  bottom: -12%;
  display: block;
}

.hit-products__name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.hit-products__name:hover {
  color: #ffbc9e;
}

.hit-products__name:hover > .hit-products__name_underline {
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* Элемент .hit-products__name блочный и многострочны, ::after не работает */
.hit-products__name_underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hit-products__price {
  position: absolute;
  top: 55%;
  left: 13px;
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(49, 50, 53, 0.5);
}

.hit-products__price_weight {
  font-size: 30px;
}

.hit-products__price_weight::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 33px;
  background-image: url("../img/ruble.svg");
  filter: drop-shadow 1px 1px 2px rgba(49, 50, 53, 0.5);
}

.hit-products__photo {
  display: flex;
  border-radius: 135px;
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}

.promo-item {
  position: relative;
  width: 100%;
  min-height: 230px;
  box-sizing: border-box;
  padding: 19px 30px 95px 19px;
  color: #ffffff;
  border-radius: 15px;
  background-size: cover;
}

.promo__item {
  margin-right: 26px;
}

.promo__item:last-of-type {
  margin-right: 0px;
}

.promo-item_1 {
  background-color: #5e1926;
  background-image: url("../img/promo-raspberry.jpg");
}

.promo-item_2 {
  background-color: #41271b;
  background-image: url("../img/promo-chocolate.jpg");
}

.promo-item__title {
  margin: 0 0 16px 0;
  font-size: 35px;
}

.promo-item__text {
  font-size: 18px;
  line-height: 22px;
}

.promo-item__btn {
  position: absolute;
  bottom: 25px;
  right: 21px;
}

.location {
  position: relative;
  width: 100%;
  height: 430px;
  margin: 0;
  padding: 0;
}

.location__map {
  width: 100%;
  height: 100%;
  background-image: url("../img/map.png");
  background-position: center;
}

.location__info {
  position: absolute;
  top: 0;
  right: 27px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 302px;
  max-width: 50%;
  height: 305px;
  overflow: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 31px 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 15px;
}

.location__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.location__adress,
.location__phone {
  font-size: 18px;
  line-height: 24px;
}

.location__btn {
  align-self: center;
  min-width: 252px;
}

.page-features {
  padding: 0 27px;
}

.features {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 29px 20px 20px 20px;
  background-color: #ede1c5;
  background-image: url("../img/background-waffle.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.features__item {
  max-width: 50%;
  padding: 15px 0px 10px 53px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  background-size: 49px 49px;
  background-repeat: no-repeat;
}

.features__item_ice-cream {
  background-image: url("../img/ice-cream.svg");
}

.features__item_ingredients {
  background-image: url("../img/eco.svg");
}

.features__item_farmers {
  background-image: url("../img/cow.svg");
}

.features__item_delivery {
  background-image: url("../img/thermometer.svg");
}

.modal-feedback {
  position: relative;
  padding: 19px 25px;
  padding-bottom: 72px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  border-radius: 15px;
  max-width: 478px;
}

.modal-feedback__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.form-feedback__contact {
  width: 60%;
}

.form-feedback__field {
  margin-bottom: 18px;
  font-size: 16px;
}

.form-feedback__btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 17px;
  background-image: url("../img/cross-big.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}