@charset "UTF-8";
@font-face {
  font-family: 'Roboto', Arial, sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic);
  font-display: optional;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: auto;
}

/* */
.location__map {
  width: 100%;
  height: 430px;
  margin: 0;
  padding: 0;
  background-image: url(../img/map.png);
  background-position: center;
}

/* Сброс общих стилей */
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: 0;
}

/*Глобальные стили элементы*/
.link {
  text-decoration: underline;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-field {
  width: 100%;
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-right: 15px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d2;
  border-radius: 5px;
}

.page-btn {
  display: inline-block;
  box-sizing: border-box;
  min-height: 46px;
  padding: 10px 22px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  border-radius: 25px;
  background: linear-gradient(180deg, #f26843, #ca3824);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.page-btn:hover {
  background: linear-gradient(180deg, #f58669, #ec6f5e);
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.page-btn:active {
  color: #fceeec;
  background-image: linear-gradient(180deg, #f26843, #e74a35);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

body {
  background-color: #849d8f;
  font-family: 'Roboto', Arial, sans-serif;
}

[class*="popup-"] {
  display: none;
}

.page-header {
  padding: 10px 27px;
}

.page-header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.site-nav {
  display: flex;
}

.site-nav__main-nav {
  margin-left: 10px;
  margin-top: 20px;
}

.main-nav {
  display: flex;
  list-style: none;
  white-space: nowrap;
}

.main-nav__item {
  position: relative;
}

.main-nav__link {
  position: relative;
  padding: 6px 14px 7px 14px;
  font-weight: bold;
  color: #ffffff;
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #323232;
  background-color: #f6f4f8;
  border-radius: 32px;
}

.main-nav__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 2px #696969;
}

.main-nav__link::after {
  content: '';
  display: block;
  position: absolute;
  left: 14px;
  right: 14px;
  bottom: 6px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.site-nav__sub-nav {
  position: absolute;
  left: -6px;
  top: 31px;
  z-index: 1;
  display: none;
}

.sub-nav {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.sub-nav__item {
  margin: 1px 0;
  list-style: none;
}

.sub-nav__link {
  display: inherit;
  padding: 7px 21px;
  color: #323232;
}

.sub-nav__link:hover {
  background-color: #fbded7;
}

.sub-nav__link:active {
  background-color: #f6b5a5;
}

.sub-nav__item_special {
  position: relative;
  font-weight: bold;
}

.sub-nav__item_special::after {
  content: '';
  display: block;
  position: absolute;
  left: 9px;
  right: 9px;
  height: 1px;
  background: rgba(53, 53, 53, 0.2);
}

.main-nav__item_dropdown:hover > .site-nav__sub-nav,
.main-nav__item_dropdown:focus > .site-nav__sub-nav,
.main-nav__item_dropdown:active > .site-nav__sub-nav {
  display: block;
}

.user-nav {
  display: flex;
  list-style: none;
}

.user-nav__item {
  position: relative;
  margin-right: 10px;
  margin-top: 20px;
}

.user-nav__btn {
  padding: 7px 17px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}

.user-nav__btn:hover, .user-nav__btn:focus {
  color: #323232;
  background-color: #f6f4f8;
}

.user-nav__item:last-of-type {
  margin-right: 0;
}

.user-nav__btn_search {
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.user-nav__btn_search:hover, .user-nav__btn_search:focus, .user-nav__btn_search:active {
  background-image: url("../img/loupe_dark.svg");
}

.user-nav__btn_search:hover ~ .popup-search,
.user-nav__btn_search:focus ~ .popup-search,
.user-nav__btn_search:active ~ .popup-search {
  display: block;
}

.user-nav__btn_auth {
  padding-left: 45px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.user-nav__btn_auth:hover, .user-nav__btn_auth:focus {
  background-image: url("../img/entrance_dark.svg");
}

.user-nav__btn_auth:hover + .popup-auth,
.user-nav__btn_auth:focus + .popup-auth,
.user-nav__btn_auth:active + .popup-auth {
  display: block;
}

.user-nav__btn_cart {
  min-width: 117px;
  padding-left: 45px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.user-nav__btn_cart:hover, .user-nav__btn_cart:focus {
  background-image: url("../img/basket_dark.svg");
}

.popup {
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-nav__popup {
  box-sizing: border-box;
  position: absolute;
  top: 31px;
  right: 0;
}

.popup-search {
  min-width: 341px;
}

.popup-auth {
  min-width: 277px;
  padding-left: 19px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-auth__field {
  margin-bottom: 20px;
}

.form-auth__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-auth__submit-btn {
  min-width: 100px;
}

.form-auth__list-links {
  margin-left: 20px;
}

.form-auth__link {
  position: relative;
  font-size: 13px;
  color: #323232;
  margin-bottom: 5px;
}

.form-auth__link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}

.form-auth__link:last-of-type {
  margin-bottom: 0px;
}

.page-header__contacts {
  display: block;
  margin-top: -8px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  line-height: 24px;
}

.page-header__contacts_phone {
  font-size: 22px;
  white-space: nowrap;
}

.slider {
  display: block;
  max-height: 607px;
  background-color: #f6b5a5;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}

.promo__item {
  position: relative;
  width: 100%;
  min-height: 230px;
  box-sizing: border-box;
  margin-right: 26px;
  padding: 19px 30px 95px 19px;
  color: #ffffff;
  border-radius: 15px;
  background-size: cover;
}

.promo__item:last-of-type {
  margin-right: 0px;
}

.promo-item__title {
  margin: 0 0 16px 0;
  font-size: 35px;
}

.promo-item__text {
  font-size: 18px;
  line-height: 22px;
}

.promo-item__btn {
  position: absolute;
  bottom: 25px;
  right: 21px;
}

.promo__item_1 {
  background-color: #5e1926;
  background-image: url(../img/promo-raspberry.jpg);
}

.promo__item_2 {
  background-color: #41271b;
  background-image: url(../img/promo-chocolate.jpg);
}